<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClaysysEventManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClaysysEventManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dyY+Q+B1cQ+7H5GjQQmxC1s+R+c9ttvG5PA7JUE7eR+6I/Q8F6WUzBHwTCGfVGFjx7g1BP1Acyc/cv61+JQK6Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/OIP.jpg" alt="Logo" style="height:40px;" />ClaySys</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> 
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact us</a>
                                </li>
                    <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a> </li>
                                @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a> </li>
                    } @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"> @if (User.IsInRole("Superadmin"))
                            {
                                <a class="nav-link" asp-area="" asp-controller="Superadmin" asp-action="Index">Superadmin Dashboard</a>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                            <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="UserProfile" asp-action="Index"> Profile</a> </li>
                            }
                            else if (User.IsInRole("User"))
                            {
                                <a class="nav-link" asp-area="" asp-controller="UserEvent" asp-action="Index">Events</a>
                            <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="UserProfile" asp-action="Index"> Profile</a> </li>
                            } </li> <li class="nav-item"> <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="form-inline"> <button type="submit" class="btn btn-link nav-link" style="cursor:pointer;">Logout</button> </form> </li>
                    } </ul> </div>
        </nav>
    </header>
    <div class="container"> <main role="main" class="pb-3"> @RenderBody() </main> </div>
    <footer class="border-top footer text-muted"> <div class="container"> &copy; 2024 - Claysys Event Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> </div> </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> @await RenderSectionAsync("Scripts", required: false)
</body>
</html>