body {
    background-color: #ecf0f1;
    font-family: Arial, sans-serif;
    color: white;
}

.navbar {
    background-color: #3498db;
    justify-content: space-between;
    align-items: center;
}



.nav-link {
    color: black;
}

    .nav-link:hover {
        color: #2ecc71 !important;
    }

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

    .btn-primary:hover {
        background-color: #2980b9;
        border-color: #2980b9;
    }

.btn-secondary {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

    .btn-secondary:hover {
        background-color: #27ae60;
        border-color: #27ae60;
    }

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

    .btn-danger:hover {
        background-color: #c0392b;
        border-color: #c0392b;
    }

.table {
    background-color: #fff;
    border: 1px solid #ddd;
}

    .table th,
    .table td {
        padding: 12px;
        text-align: left;
        border-top: 1px solid #ddd;
    }


.footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    position: static;
    bottom: 0px;
    left: 0;
    margin-top: auto;
    width: 100vw;
}



    .footer a {
        color: #ecf0f1;
    }

.text-danger {
    color: red;
    font-size: 0.875em; /* Adjust font size if needed */
}
