@{
    ViewData["Title"] = "Home";
}
&nbsp;
&nbsp;
<div class="jumbotron">
    <h1 class="display-4">Welcome to Claysys</h1>
    <p class="lead">We specialize in delivering IT solutions that positively impact businesses.</p>
    <hr class="my-4">
    <p>Explore our services and see how we can help your business grow.</p>
 
</div>
<div class="container mt-5">
    <h2 class="text-center">Our Company</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <img src="~/images/1.jpg" alt="Company Image 1" class="img-fluid company-photo" />
        </div>
        <div class="col-md-4">
            <img src="~/images/ClaySys-Campus-Solar-Panels-1.jpg" alt="Company Image 2" class="img-fluid company-photo" />
        </div>
        <div class="col-md-4">
            <img src="~/images/IMG_20200110_144428-768x576.jpg" alt="Company Image 3" class="img-fluid company-photo" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Work</h2>
        <p>ClaySys specializes in delivering IT solutions that make a positive impact on businesses. Our focus is on successful technical implementation while ensuring alignment with key business objectives.</p>
    </div>
    <div class="col-md-4">
        <h2>Why We Are Different</h2>
        <p>We focus on a partnership model, building long-term relationships with our clients. Our commitment is to the best interests of our clients, not just specific technology projects.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Have questions or need more information? Reach out to us, and we'll be happy to assist you.</p>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="ContactUs" role="button">Contact Us</a>
    </div>
    <div class="container mt-5">
        <h2 class="text-center">What We Think</h2> 
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body bg-dark"> 
                        <h5 class="card-title">ARTIFICIAL INTELLIGENCE IN RETAIL</h5>
                        <p class="card-text">Digitalization in the retail industry has been evolving every day for years, which resulted in increased speed, performance, and efficiency...</p
                        > 
                        </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                    <div class="card-body bg-dark">
                                    <h5 class="card-title">HOW CHATBOT BENEFITS E-COMMERCE</h5>
                                    <p class="card-text">Over the last two decades, the development of e-commerce has brought revolutionary changes in the way we make purchases in...</p> 
                                </div> 
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title">UX DESIGN PROCESS EXPLAINED</h5> <p class="card-text">User Experience (UX) is defined as the value your user gets when he/she uses your product. User experience design (UXD...</p> 
                                        </div>
                                        </div> 
                                        </div> </div>
</div>
