@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
&nbsp;
&nbsp;
<p>
   At ClaySys, your privacy is of utmost importance to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you interact with our websites, applications, and services. By using our services, you consent to the data practices described in this policy.

   
   
    .
</p>
